.my-calendar {
  position: relative;
  top: 60px; /* 헤더 아래로 이동 */
  right: 0;
  width: 400px;
  height: calc(100vh - 60px); /* 헤더 높이를 제외한 높이 */
  background-color: #f8f9fa;
  border-left: 1px solid #ddd;
  padding: 10px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 400;
}

.calendar-event-list {
  max-height: 60%; /* 일정 리스트 부분의 최대 높이를 설정 */
  overflow-y: auto; /* 일정 리스트가 많아지면 스크롤 가능 */
  margin-top: 20px;
}

.react-calendar {
  border: none;
  width: 100%;
}

.react-calendar__tile {
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s;
}

.react-calendar__tile--now {
  background: #e0f7fa;
  font-weight: bold;
}

.react-calendar__tile--active {
  background: black;
  color: white;
  font-weight: bold;
}

.event-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-dot {
  background-color: black;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: auto;
}

.event-item {
  margin: 10px 0;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* 일요일 */
.react-calendar__weekdays__weekday abbr[title='일'] {
  color: red; /* 일요일 텍스트 색상 */
}

/* 토요일 */
.react-calendar__weekdays__weekday abbr[title='토'] {
  color: blue; /* 토요일 텍스트 색상 */
}

/* 일요일 아래 날짜 */
.react-calendar__tile--sunday {
  color: red; /* 일요일 날짜 색상 */
}

/* 토요일 아래 날짜 */
.react-calendar__tile--saturday {
  color: blue; /* 토요일 날짜 색상 */
}
