/* Chat Container */
.chat-room-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px); /* 전체 화면의 80%에서 헤더 높이를 뺌 */
    background: #f5f7fa; 
    overflow: hidden; /* 스크롤 제거 */
}

/* Header */
.chat-room-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #556987; 
    color: #fefefe; 
    border-bottom: 2px solid #3c5064; 
}

.chat-room-header .back-button {
    background: none;
    border: none;
    color: #fefefe;
    font-size: 16px;
    cursor: pointer;
}

/* Chat Body */
.chat-body {
    flex: 1; /* 남은 공간을 채우도록 설정 */
    padding: 10px;
    overflow-y: auto; /* 메시지 부분만 스크롤 가능 */
    background: #ffffff;
    border: 1px solid #e0e4e8; 
    border-radius: 8px;
}

/* Chat Message Container */
.chat-message {
    display: flex;
    flex-direction: column; 
    margin: 20px 0;
    max-width: 70%;
    word-wrap: break-word;
}

.chat-message.sent {
    margin-left: auto;
    align-items: flex-end;
    background-color: #e9eff7; 
    color: #2c3e50; 
    border-radius: 12px; 
    padding: 10px 14px;
    width: 60%;
}

.chat-message.received {
    margin-right: auto;
    align-items: flex-start;
    background-color: #f3f7ed; 
    color: #344b33; 
    border-radius: 12px;
    padding: 10px 14px;
    width: 60%;
}

/* Message Content */
.message-content {
    padding: 8px;
}

/* Chat Input Section */
.chat-input-container {
    display: flex;
    padding: 12px 15px;
    border-top: 2px solid #d6dae3; 
    background: #f5f7fa;
    align-items: center;
}

.chat-input-container input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccd1db;
    border-radius: 8px; 
    margin-right: 10px;
}

.chat-input-container .send-button {
    padding: 8px 12px;
    font-size: 14px;
    background: #556987; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-input-container .send-button:hover {
    background: #357ab8; 
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
}

.user-name {
    font-size: 14px;
    color: #444b55; 
}