/* 배경 스타일 */
.bg-custom {
  background-color: #8699DA;
  min-height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* 카드 스타일 */
.card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-custom {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px;
}

/* 입력 필드 스타일 */
.form-control {
  border: 2px solid #ccc;
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 16px;
}

.btn-primary {
  background-color: #8699DA; /* 버튼 배경색을 더 어두운 색으로 설정 */
  color: white; /* 텍스트 색상을 하얀색으로 설정 */
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;
}

.form-control:focus {
  border-color: #8699DA;
  box-shadow: 0 0 8px rgba(134, 153, 218, 0.5);
}

/* 버튼 스타일 */
.btn-custom {
  background-color: #7A8FB6;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;
}

.btn-custom:hover {
  background-color: #5a6f99;
  transform: scale(1.05);
}

/* 체크박스 스타일 */
.form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #7A8FB6;
}

/* 라벨 스타일 */
.form-check-label {
  font-size: 14px;
  color: #666;
}

/* 라운드 버튼 */
.rounded-input {
  border-radius: 30px;
  padding: 12px 20px;
}

/* 구글 버튼 스타일 */
.btn-google {
  background-color: #8699DA; /* 버튼 배경색을 더 어두운 색으로 설정 */
  color: white; /* 텍스트 색상을 하얀색으로 설정 */
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;

}

.btn-google:hover {
  background-color: #3367d6;
}

/* 텍스트 정렬 */
.text-black {
  color: black;
}

.text-center {
  text-align: center;
}

/* 구분선 스타일 */
hr.border-black {
  border: none;
  border-top: 2px solid #000;
}