.bg-custom {
    background-color: #8699DA;
  }

.card-custom {
background-color: #8699DA; 
}

.border-white {
    border-color: white; /* 하얀색으로 설정 */
  }

  .btn-wide {
    width: 200px; /* 원하는 너비로 설정 */
    display: flex;
    align-items: center; /* 아이콘과 텍스트를 수직 중앙 정렬 */
    justify-content: center; /* 아이콘과 텍스트를 수평 중앙 정렬 */
  }

  .btn-custom {
    background-color: #7a7c86; /* 배경색 */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 없애기 */
  }
  
  .btn-custom:hover {
    background-color: #7A8FB6; /* 호버 시 색상 */
  }

  .rounded-input {
    border-radius: 25px; /* 원하는 반경으로 조정 */
  }
  
  .rounded-button {
    border-radius: 25px; /* 원하는 반경으로 조정 */
  }
  